<section class="portfolio">
    <div class="container">
        <ul class="portfolio__list">
            {% for item in list %}
                <li class="portfolio__item">
                    <div class="portfolio__front-side">
                        <img src="{{ item.img }}" class="portfolio__img" alt="">
                    </div>
                    <div class="portfolio__back-side">
                        <img src="{{ item.logo }}" alt="">
                        <h3>{{ item.title }}</h3>
                        <a href="{{ item.link }}" class="portfolio__btn {{ item.btn_for }}">перейти</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
